<app-nav></app-nav>
<div class="input-container">
  <form [formGroup]="blogForm" (ngSubmit)="addPost()">
    <label for="title">Titel</label>
    <input
      id="title"
      type="text"
      placeholder="Skriv en rubrik"
      formControlName="title"
    />
    <label for="content">Innehåll</label>
    <textarea
      name="content"
      id="content"
      cols="30"
      rows="10"
      placeholder="Skriv ditt inlägg"
      formControlName="content"
    ></textarea>
    <label for="email">E-post</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Skriv din e-post"
      formControlName="email"
    />
    <button [disabled]="blogForm.invalid">Publicera</button>
  </form>
</div>
