.nav-container {
  background-image: url("../../../assets/images/hero.jpeg");
  background-size: cover;
  width: 80vw;
  height: 600px;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  margin: 15px;
}
